.sidebar {
	display: flex;
	align-items: flex-start;
	position: fixed;
	flex-direction: column;
	top: 3rem;
	background-color: #BB000E;
	height: 100vh;
	width: 12rem;
	z-index: 2;
}

.sidebar.small {
	width: 3rem;
	display: flex;
	text-align: center;
}

.sidebar.small p,
.sidebar.small .activities {
	display: none;
}

.navigation {
	list-style: none;
	padding: 0;
	margin: 0;
	width: 12rem;
}

.page,
.page span {
	display: flex;
	flex-direction: row;
	text-align: center;
	align-items: center;
	padding: 0.5rem;
	color: white;
}

.page:hover,
.page.active {
	background-color: red;
}

.activities {
	list-style: none;
	margin: 0.25rem;
	padding: 0.25rem;
	background-color: #222222;
}

.activities h3 {
	display: flex;
	text-decoration: underline;
	justify-self: center;
}

.activities_list {
	font-size: x-small;
}

.activities_list span {
	color: red;
}
