.header {
	display: flex;
	position: fixed;
	width: 100%;
	z-index: 5;
}

.movie_card {
	list-style: none;
	padding: 2rem;
}

.display_movies {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.load_button {
	display: flex;
	position: relative;
	left: 5.5rem;
}

.fav_page {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	width: 100%;
}

.fav_page h1 {
	display: flex;
	margin: 5rem;
	border-bottom: #BB000E;
	border-style: none none solid none;
}

.favorite_movie {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.watchlater_page {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	width: 100%;
}

.watchlater_page h1 {
	display: flex;
	margin: 5rem;
	border-bottom: #BB000E;
	border-style: none none solid none;
}

.watchlater_movie {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
