.movie_card {
	width: 18rem;
	height: 25rem;
	overflow: hidden;
	position: relative;
	display: flex;
	flex-direction: column;
}

.container {
	display: flex;
	margin-top: 5rem;
	width: 100%;
	justify-content: space-around;
	align-items: flex-start;
}

.filter_homepage {
	display: flex;
	flex-direction: column;
	flex: 0 0 auto;
	max-width: 50%;
}

.specfic_filter {
	display: flex;
	flex-wrap: wrap;
}

.filter {
	padding: 0.5rem;
}

.tags {
	display: flex;
	justify-content: center;
	align-items: center;
	max-width: 40%;
	flex: 0 0 auto;
}

.tag_filter {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	list-style: none;
	gap: 0.5rem;
	justify-content: flex-start;
}

.list_tag {
	border: #BB000E solid 1px;
	font-weight: 300;
	border-radius: 5rem;
	padding: 0 0.5rem;
	display: flex;
	align-items: center;
}

.list_tag:hover {
	cursor: pointer;
}

.list_tag.selected {
	background-color: #BB000E;
}

.movie_info {
	display: flex;
	flex-direction: column;
	height: 100%;
	position: relative;
}

.movie_info h3 {
	background-color: rgba(128, 128, 128, 0.8);
	position: absolute;
	bottom: 6rem;
	font-weight: 400;
	left: 0;
	right: 0;
	margin: 0;
	z-index: 1;
	padding: 0 0.5rem;
}

.movie_info img {
	width: 100%;
	height: 15rem;
	object-fit: cover;
	display: block;
}

.informations {
	height: 6rem;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.informations p {
	font-size: 11px;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 3;
	line-clamp: 3;
	overflow: hidden;
}

.icons {
	display: flex;
	justify-content: flex-end;
	position: relative;
	top: 1.5rem;
	right: 0.5rem;
	z-index: 2;
}

.iconfav {
	color: gray;
}

.iconwatchlater {
	color: gray;
}

.iconfav.active {
	color: white;
}

.iconwatchlater.active {
	color: white;
}

.movie_genres {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
	flex-wrap: wrap;
	gap: 0.3rem;
	justify-content: center;
}

.genre {
	list-style: none;
	background-color: #BB000E;
	color: white;
	font-size: 0.75rem;
	padding: 0.1rem 0.6rem;
	border-radius: 20px;
}
